* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 375px;
  overflow-x: hidden;
}

:root {
  --primary-color-1: hsl(238, 22%, 44%);
  --primary-color-2: hsl(243, 87%, 12%);
  --accent-color-1: hsl(224, 93%, 58%);
  --accent-color-2: hsl(170, 45%, 43%);
  --neutral-color-1: hsl(240, 75%, 98%);
  --neutral-color-2: hsl(0, 0%, 75%);
  --primary-font: "Open Sans", sans-serif;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--primary-color-1);
}

/* Header section */
.flex-container-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 2rem;
}

.logo-header img {
  width: 5rem;
  margin-top: 1.2rem;
  padding-left: 0.5rem;
}

.flex-container-navigation ul li {
  padding: 0;
  margin-left: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
}

.flex-container-navigation nav ul {
  display: flex;
  margin-left: 5rem;
}

/* Hero section */
.flex-hero-container .hero-container img {
  width: 75%;
  margin: 5rem 0 0 5rem;
}

.flex-hero-container .header-paratext-hero h1 {
  text-align: center;
  width: 74%;
  margin: 2rem 0 0 2.2rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--primary-color-2);
  font-family: "Raleway", sans-serif;
}

.flex-hero-container .header-paratext-hero p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin: 2rem;
  color: var(--primary-color-2);
  font-family: "Open Sans", sans-serif;
  width: 77%;
}

.btn-input input {
  width: 80%;
  margin-left: 2.2rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.btn-input input::placeholder {
  font-size: 0.7rem;
  padding: 0.2rem;
}

.btn-input button {
  display: block;
  width: 80%;
  margin: 0.6rem 0 0 2.2rem;
  padding: 0.5rem;
  font-size: 0.6rem;
  cursor: pointer;
  background-color: var(--accent-color-1);
  border: 1px solid;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}



/* Testiomnial */
.flex-container {
  /*   background-color: hsla(238, 22%, 44%, 0.1); */
  background-image: url(/fylo-landing-page-with-two-column-layout-master/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container .container-image img {
  width: 90%;
  margin-top: 8rem;
}

.flex-container .container-text h2 {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  color: var(--primary-color-2);
  font-weight: 700;
  margin: 4rem 0 0 2rem;
}

.container-text p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 2rem 0 0 2rem;
  color: var(--primary-color-2);
  font-family: "Open Sans", sans-serif;
  width: 75%;
}

.container-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 6rem;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  word-spacing: 0.1rem;
}

.container-arrow a {
  text-decoration: none;
  color: var(--accent-color-2);
  position: relative;
}

.container-arrow a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;
  width: 112%;
  height: 1px;
  background-color: rgb(65, 201, 156);
}

/* bottom container */
.testimonial-container {
  background-color: var(--neutral-color-1);
  padding: 1rem 0.2rem 0.8rem 1.2rem;
  margin: 1.1rem 2rem 3rem 1.1rem;
  border-radius: 0.4rem;
}

.testimonial-container .wrapper-quote-para p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--primary-color-2);
  font-family: "Open Sans", sans-serif;
  width: 96%;
}

.avatar-name-cta {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.avatar-name-position {
  display: flex;
  flex-direction: column;
  padding-left: 0.4rem;
}

.avatar-name-cta img {
  width: 10%;
  border-radius: 5rem;
}

.testimonial-container .wrapper-quote-para .avatar-name-cta .name {
  font-size: 0.6rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color-2);
}

.testimonial-container .wrapper-quote-para .avatar-name-cta span {
  font-size: 0.6rem;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color-2);
}

/* Sign up part */
.flex-sign-up-container {
  text-align: center;
  background-color: var(--primary-color-1);
  margin-top: 3rem;
}

.flex-sign-up-container .get-access-cta h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-color-2);
  font-family: "Raleway", sans-serif;
  line-height: 5rem;
  color: #fff;
}

.flex-sign-up-container .get-access-cta p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--primary-color-2);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-left: 2rem;
  width: 87%;
  color: #fff;
}

.btn-input-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.btn-input-cta input {
  width: 70%;
  padding: 0.4rem;
  border: none;
  outline: none;
}

.btn-input-cta input::placeholder {
  font-size: 0.7rem;
  color: hsl(0, 0%, 75%);
}

.btn-input-cta button {
  width: 70%;
  padding: 0.4rem;
  margin-top: 0.5rem;
  font-size: 0.7rem;
  border: none;
  background-color: var(--accent-color-1);
  color: #fff;
  cursor: pointer;
  margin-bottom: 3rem;
}

/* Footer */
.flex-footer-container a {
  text-decoration: none;
  color: #fff;
}

.flex-footer-container {
  background-color: var(--primary-color-2);
  margin-top: 0;
  border: 1px solid;
  height: 440px;
}

.flex-footer-container .footer-logo-cta {
  padding: 0.7rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  padding-left: 1rem;
}

.flex-footer-container .icon {
  color: #fff;
}

.flex-footer-container .footer-logo-cta img {
  width: 25%;
  margin-top: 2rem;
  padding-left: 1rem;
}

.flex-footer-container .wrapper-nav {
  padding: 0.3rem 0 0 1rem;
  line-height: 2rem;
}

.flex-footer-container .footer-contact-container {
  padding-left: 1rem;
  margin-top: 1rem;
}

.flex-footer-container .wrapper-nav .navbar li {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.flex-footer-container .footer-contact-container .contact-navbar li {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 2rem;
}

/* Social Links */

.social-links .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links .social-icons span .ion-icon {
  border-radius: 50%;
  border: 1px solid;
  width: 50%;
  margin-right: 2rem;
  padding: 0.07rem 0.08rem;
  cursor: pointer;
}

.social-links .social-icons span .ion-icon:active {
  background-color: var(--accent-color-1);
}







/* Media Query */
@media screen and (min-width: 1000px) {

  /* Navigation */
  .flex-container-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 2rem;
    width: 1440px;
    margin-top: 2rem;
  }

  .flex-container-navigation .logo-header img {
    width: 12rem;
    padding-left: 2.5rem;
  }

  .flex-container-navigation nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40rem;
  }

  .flex-container-navigation ul li {
    padding: 1rem;
    margin-left: 4rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }



  /* Hero section */
  .flex-hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 1440px;
    margin: 5rem 0 0 0;
  }

  .flex-hero-container .container-image {
    width: 850px;
  }

  .flex-hero-container img {
    width: 70%;
  }

  .flex-hero-container .header-paratext-hero h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    width: 65%;
    color: var(--primary-color-2);
    line-height: 2.4rem;
    text-align: left;
  }

  #bottom-cta {
    width: 90rem;
  }

  .flex-hero-container .header-paratext-hero P {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color-2);
    line-height: 1.5rem;
    width: 67.1%;
    text-align: left;
  }

  .btn-input {
    display: flex;
  }

  .btn-input input {
    width: 50%;
    padding: 1rem;
    margin-top: 0.1rem;
  }



  /* top button */
  .btn-input button {
    width: 30%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.1rem;
  }



  .btn-input button:active{
    background-color: var(--primary-color-1);
  }



  .btn-input input::placeholder {
  font-size: 1rem;
  }




  /* Testimonial */
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
    margin-top: 15rem;
    padding-bottom: 6rem;
  }



  .flex-container .container-text {
    width: 45rem;
  }



  .flex-container .container-image img {
    width: 80%;
    align-self: flex-start;
  }



  .avatar-wrapper-container .container-text h2 {
    text-align: left;
    word-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }



  .container-text {
    width: 5rem;
  }



  .container-text span {
    display: block;
    line-height: 1.7rem;
  }

  .avatar-wrapper-container .container-text p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color-2);
    line-height: 1rem;
    width: 98.9%;
  }

  .container-arrow {
    display: flex;
    justify-content: flex-start;
    margin-left: 1.8rem;
  }

  .container-arrow a {
    font-size: 1rem;
  }


  .testimonial-container {
    background-color: var(--neutral-color-1);
    padding: 1.4rem 1.2rem 0rem 1.5rem;
    margin: 1.1rem 5rem 3rem 1rem;
    border-radius: 0.4rem;
    width: 450px;
    height: 220px;
  }

  .testimonial-container .wrapper-quote-para p {
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--primary-color-2);
    font-family: "Open Sans", sans-serif;
    width: 85%;
  }

  .avatar-name-cta {
    display: flex;
    align-items: center;
  }

  .avatar-name-cta img {
    width: 10%;
    border-radius: 40rem;
  }

  .testimonial-container .wrapper-quote-para .avatar-name-cta .name {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color-2);
  }

  .testimonial-container .wrapper-quote-para .avatar-name-cta span {
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color-2);
  }

  /* Flex sign up*/
  .flex-sign-up-container {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--primary-color-1);
    width: 1440px;
    height: 400px;
  }

  .flex-sign-up-container .get-access-cta {
    margin-left: 3rem;
    height: 250px;
    width: 550px;
  }

  .flex-sign-up-container .get-access-cta h2 {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--primary-color-2);
    font-family: "Raleway", sans-serif;
    line-height: 5rem;
    color: #fff;
    margin-left: 2.2rem;
  }

  .flex-sign-up-container .get-access-cta p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--primary-color-2);
    font-family: "Open Sans", sans-serif;
    width: 100%;
    color: #fff;
    text-align: left;
  }

  .flex-sign-up-container .get-access-cta span {
    display: block;
  }

  .flex-sign-up-container .btn-input-cta {
    width: 450px;
    margin-left: 7rem;
  }

  .flex-sign-up-container .btn-input-cta input {
    width: 100%;
    height: 40px;
    padding: 0.6rem;
  }

  .flex-sign-up-container .btn-input-cta input::placeholder {
    font-size: 0.9rem;
    color: hsl(0, 0%, 75%);
  }

  .btn-input-cta button {
    width: 70%;
    padding: 0.7rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
    background-color: var(--accent-color-1);
    color: #fff;
    cursor: pointer;
    align-self: flex-start;
    width: 50%;
  }



  .btn-input-cta button:active{
    background-color: var(--primary-color-1);
  } 



  /* Footer */

  .flex-footer-container {
    width: 1440px;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .footer-logo-cta {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: justify;
    padding: 0.9rem;
    font-family: "Raleway", sans-serif;
    height: 250px;
    margin: 1.2rem 3rem 0 2rem;
  }

  .flex-footer-container .footer-logo-cta img {
    width: 70%;
  }

  .footer-logo-cta .ion-icon {
    color: #fff;
    border: 1px solid;
  }

  .flex-footer-container .ion {
    color: #fff;
    font-size: 1rem;
    line-height: 2.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    border: 1px solid;
  }

  .flex-footer-container .first-icon {
    margin-top: 0.7rem;
  }

  .flex-footer-container .wrapper-nav {
    padding: 0.3rem 0 0 1rem;
    line-height: 2rem;
    margin-left: 6.5rem;
  }

  .flex-footer-container .footer-contact-container .contact-navbar li {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    line-height: 2rem;
    margin-left: 9.7rem;
    align-self: flex-start;
  }



  /* Social Icons */
  .social-links {
    width: 50%;
    height: 100px;
  }

  .social-links .social-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0.7rem;
    margin-top: 1rem;
  }

  .social-links .social-icons span .ion-icon {
    border-radius: 50%;
    width: 50%;
    border: 1px solid;
    margin-right: 2rem;
    padding: 0.07rem 0.08rem;
  }

  .social-links .social-icons span a {
    cursor: pointer;
  }

  .social-links .social-icons span a:active {
    background-color: var(--accent-color-1);
  }
}
